@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400|Playfair+Display:400,700,400italic|Libre+Baskerville:400,700,400italic|Muli:300,400|Open+Sans:400,300,700|Oswald:400,700|Raleway:400,100,300,700|Montserrat:400,700|Merriweather:400,300,300italic,400italic,700|Bree+Serif|Vollkorn:400italic,400,700|Abril+Fatface|Cardo:400,400italic);


/*-----------------------------------------General------------------------------------------*/

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
    font-family: 'Inter', sans-serif;
    /* Centers the image */
}

#mainContent {
    color: white;
    background-image: url('../Images/Lucy.png'); /* Replace with your image URL */
    background-size: 500px 500px; /* Ensures the image covers the entire page */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center center;
    min-height: 100vh; /* Ensures the main content covers the full viewport height */
}


    #mainContent.with-sidebar {
        margin-left: 220px;
        transition: margin-left 0.3s ease;
    }

    #mainContent.full-width {
        margin-left: 0;
        transition: margin-left 0.3s ease;
    }

/*-----------------------------------------Buttons------------------------------------------*/

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn:hover,
.btn:focus {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
    transition: all 0.25s ease-in-out;
}

a, a:hover {
    color: white;
    text-decoration: underline;
}

.whitebg, a:hover{
    color: antiquewhite
}

a {
    color: #ccc;
    text-decoration: none;
}

.btn {
    border-radius: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.6rem 1.2rem;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}


/*-----------------------------------------Side Bar------------------------------------------*/


#sidebar {
    background-color: #f8f9fa;
    border-right: 1px solid white;
    width: 220px;
    transition: transform 0.3s ease;
    z-index: 1040;
}

.sidebar-hidden {
    transform: translateX(-100%);
}

.sidebar-visible {
    transform: translateX(0);
}

#sidebar .btn:hover, #sidebar .btn:focus {
    background-color: white;
    color: #A3CAE9;
    border-color: white;
    transition: all 0.2s ease;
}


#sidebar a.btn {
    background-color: #ACACAC; /* Bootstrap primary color */
    color: white;
    border: 1px solid white;
}

    #sidebar a.btn:hover, #sidebar a.btn:focus {
        background-color: white; /* Bootstrap primary color */
        color: black;
        transition: background-color 0.2s ease;
    }

#toggleSidebar {
    background-color: white;
    color: black;
    border: 1px solid #A3CAE9;
    border-radius: 0;
    width: 50px;
    height: 50px;
    z-index: 1050;
    transition: background-color 0.2s ease;
}

    #toggleSidebar:hover {
        background-color: gray;
        color: white;
        border-color: white;
    }

#toggleIcon {
    color: black;
    transition: color 0.2s ease;
}



/*-----------------------------------------Text------------------------------------------*/


h5, h1, h2, h3, h4 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 1rem;
    color: black;
    border-bottom: 1px solid #444;
    padding-bottom: 0.5rem;
    text-shadow: 2px 2px 0px #ACACAC;
}

    h1#introText {
        font-size: 10rem;
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        color: white;
        text-shadow: 2px 2px 10px rgba(0,0,0,0.4);
        margin-bottom: 1rem;
        animation: fadeInUp 1s ease-out;
        text-align: center;
        font-family: 'Montserrat';
        font-size: 10rem;
        border-bottom: 0px;
    }

    h1.coolBorder {
        background-color: rgba(67.5, 67.5, 67.5, .10);
        text-align: center;
        border-bottom: none;
        padding-bottom: initial;
        border-radius: 10px;
        /*padding-left: 50%;*/
        padding-top: 10px;
        padding-bottom: 10px;
        /*width: 750px;*/
        color: white;
    }

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 5;
        transform: translateY(0);
    }
}



.line-after-heading:before {
    content: "";
    display: block;
    position: absolute;
    background-color: #fff;
    width: 4rem;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: -2rem;
}


.text-white-glow {
    color: #ACACAC;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.text {
    text-shadow: 2px 2px 0px #ACACAC;
}


/*-----------------------------------------Footer------------------------------------------*/



footer {
    background-color: #A3A3A3;
    color: white;
    border-top: 1px solid white;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem 0;
}

    footer a {
        color: white;
        text-decoration: underline;
    }

        footer a:hover {
            color: gray;
        }

/*-----------------------------------------Unity------------------------------------------*/


#unity-canvas {
    width: 100%;
    height: auto;
    max-width: 960px;
    aspect-ratio: 16 / 10;
    image-rendering: pixelated;
}

#unity-loading {
    transform: scale(0.5);
    transform-origin: center;
}

/*-----------------------------------------Boxes------------------------------------------*/


.scroll-box {
    height: 300px; /* Fixed height */
    overflow-y: auto; /* Scroll when content is too tall */
    overflow-x: hidden; /* Prevent horizontal scroll */
}

.glass-box {
    background-color: white;
    backdrop-filter: blur(4px);
    /* border: 1px solid white;*/
    padding: 2rem;
    color: black
    /* box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);*/
}

.blue-box {
    background-color: #A3CAE9;
    backdrop-filter: blur(4px);
    padding: 2rem;
    border-radius: 20px;
}


.glass-container {
    background: rgba(215, 215, 220, 0.8); /* subtle background layer */
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.05);
    padding: 2rem;
}



/*-----------------------------------------Video------------------------------------------*/


.video-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* push it behind other content */
    width: 100%;
    object-fit: cover;
    height: 700px;
    /* Add blur and dim effect */
    filter: blur(3px) brightness(100%);
}

.movingImage {
    height: auto;
    width: auto;
    position: relative;
    animation: moveSideToSide 3s steps(1) infinite;
    margin-left: 20%;
    max-height: 600px;
    align-content:center;
}

@keyframes moveSideToSide {
    0%{
        transform: rotate(-10deg);
    }
    50%{
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}

img {
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Lightbox overlay (initially hidden) */
#lightboxOverlay {
    display: none; /* Hidden until triggered */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2000;
    justify-content: center;
    align-items: center;
}

    /* Expanded image in the overlay */
    #lightboxOverlay img {
        max-width: 90%;
        max-height: 90%;
        cursor: pointer;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
        border-radius: 8px;
    }




/*.img-glow {
    border: 4px solid white;
    box-shadow: 0 0 20px white;
}*/









