@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row my-5">
    <div class="col-4">
        <h1 class="display-4">Welcome</h1>
        <p>Hello i am Christian Pepper BLAHHHHHHHHHHAHAH</p>
    </div>
</div>
