@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--  <video class="video-background" autoplay muted loop playsinline>
    <source src="~/Videos1/854002-hd_1920_1080_24fps.mp4" type="video/mp4">
</video> -->

<div class="row my-3 my-md-4 my-lg-5 justify-content-center">
    <!-- Text Section -->
    <div class="col-12">
        <h1 class="" id="introText">Welcome</h1>
    </div>
</div>

<div class="row my-3 my-md-4 my-lg-5 justify-content-center">
    <div class="col-md-8 text-center">
        <p class="lead fs-5" style="color: #ccc; letter-spacing: 1px;">
            This webpage was developed in Visual Studio 2022 using ASP.NET Core Razor Pages.
            It is a simple, static webpage that serves as a personal portfolio and resume for Christian Pepper.
            In the future this page may be expanded to include more dynamic content, such as a blog,
            editing abilities, and even potentially user accounts and authentication.
            The database was planned in LucidCharts and implemented in SQL Server Management studio 20.
            The websited is managed and uploaded through Microsoft azure. Background image is from Lucy Bedrouque's
            "Unmusique"
        </p>
    </div>
</div>

<div class="row">
    <div class="container col-sm-3 col-md-3 col-lg-3">
        <h1 class="coolBorder">Hello,</h1>
        <p class="lead fs-5 text-center" style="color: #ccc; letter-spacing: 1px;">
            My name is Christian Pepper, i am a Finance/Computer Science student at Stephen F. Austin 
            State University. Welcome to my digital portfolio! I wanted a place that allowed me to 
            showcase the knowledge i've obtained throughout my college career, and decided the most customizible
            and unuiqe option would be to create my own website. Please enjoy navigating my portfolio,
            feel free to contact me with any questions or feedback!
        </p>
    </div>
    <div class="container col-sm-3 col-md-3 col-lg-3 ">
        <h1 class="coolBorder">This is me:</h1>
        <img src="~/images/ONLYME.png"
             alt="Christian Pepper"
             class="movingImage img-fluid"
             style="" />
    </div>
</div>

<div class="row my-3 my-md-4 my-lg-5">
</div>

