@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--  <video class="video-background" autoplay muted loop playsinline>
    <source src="~/Videos1/854002-hd_1920_1080_24fps.mp4" type="video/mp4">
</video> -->



<div class="">
    <div class="row my-3 my-md-4 my-lg-5 justify-content-center">
        <!-- Text Section -->
        <div class="col-12">
             <h1 class="" id="introText">Welcome</h1>
        </div> 
    </div>

    <div>


        <div class="row my-3 my-md-4 my-lg-5 justify-content-center">
            <div class="col-md-8 text-center">
                <p class="lead fs-5" style="color: #ccc; letter-spacing: 1px;">
                    This webpage was developed in Visual Studio 2022 using ASP.NET Core Razor Pages. 
                    It is a simple, static webpage that serves as a personal portfolio and resume for Christian Pepper.
                    In the future this page may be expanded to include more dynamic content, such as a blog, admin editing privliges,
                    and even potentially user accounts. 
                </p>
            </div>
        </div>
    </div>

    <!-- Image Section 
    <div class="row my-3 my-md-4 my-lg-5 justify-content-center">
        <div class="col-md-8 text-center my-5">
            <div class="p-3 d-inline-block">
                <img src="~/images/ME.jpg"
                     alt="Christian Pepper"
                     class="img-fluid"
                     style="max-width: 100%; height: auto; max-height: 600px; border: 4px solid white;" />
            </div>
            <p class="mt-3 text-uppercase fs-5" style="color: #ccc; letter-spacing: 1px;">
                This is me — Christian Pepper
            </p>
        </div>
    </div> -->
</div>

