@page
@model MyWebsite_Web.Pages.NavProperties.GamePageModel
@{
}

<div class="container text-center my-5">
    <h1 class="mb-4">Play My Game</h1>

    <div class="unity-container mx-auto" style="width: 960px; height: 600px; position: relative;">
        <div id="unity-loading" style="color:white; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); z-index:10;">Loading...</div>
        <canvas id="unity-canvas"></canvas>

        <script src="/Games/SharkGameBuild/Build/SharkGameBuild.loader.js"></script>
        <script>
            createUnityInstance(document.querySelector("#unity-canvas"), {
                dataUrl: "/Games/SharkGameBuild/Build/SharkGameBuild.data",
                frameworkUrl: "/Games/SharkGameBuild/Build/SharkGameBuild.framework.js",
                codeUrl: "/Games/SharkGameBuild/Build/SharkGameBuild.wasm",
                streamingAssetsUrl: "/Games/SharkGameBuild/StreamingAssets",
                companyName: "YourName",
                productName: "SharkGame",
                productVersion: "1.0"
            }, (progress) => {
                document.getElementById("unity-loading").innerText = `Loading... ${Math.round(progress * 100)}%`;
            }).then(() => {
                document.getElementById("unity-loading").style.display = "none";
            });
        </script>

     </div>

</div>
